*{
  padding: 0px;
  margin: 0px;
}

.container{
  height: 1000px;
  background-color: rgb(240,202,202);
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row-container{
  display: flex;
  justify-content: center;
}

.box{
  height: 200px;
  width: 200px;
  background-color: rgb(243,28,28);
  margin: 0px 60px;
}